 h1{
            color: #e15d5d;
            text-align: center ;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        }
        body{
            background-color: rgb(129, 225, 225);
        }