*{
    margin: 0%;
    padding: 0%;
}
html,body{
    height: 100%;
    width: 100%;
}
main{
    display: flex;
}
div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
}

#div1{
    background-color: rgb(225, 15, 15);
}
#div2{
    background-color: blue;
}
#div3{
    background-color: blueviolet;
}